.resetBtn {
  display: block;
  border: none;
  box-shadow: 0 0 5px #888888;
  background-color: rgb(149, 0, 160, 0.7);
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 10%;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.8s;
}

.resetBtn:hover {
  cursor: pointer;
  background-color: rgb(125, 3, 133, 0.8);
  box-shadow: 0 0 10px #888888;
  transform: scale(1.05);
}