.resetBtn {
  display: block;
  border: none;
  box-shadow: 0 0 5px #888888;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 10%;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.8s;
  color: rgb(199, 197, 197);
  text-shadow: 1px 1px 1px black;
  background: rgb(211,0,0);
  background: linear-gradient(90deg, rgba(211,0,0,1) 0%, rgba(114,9,121,1) 61%, rgba(0,42,169,1) 100%);
}

.resetBtn:hover {
  cursor: pointer;
  background-color: rgb(125, 3, 133, 0.8);
  box-shadow: 0 0 10px #888888;
  transform: scale(1.05);
}